{% extends "base.html" %}


{% block title %}Upload{% end %}


{% block content %}

<script type="text/javascript" src="static/bower_components/requirejs/require.js" data-main="ffmpeg_nbe"></script>
<script type="text/javascript" src="static/require_config.js"></script>

<div data-ng-include="'/static/templates/ffmpeg_nbe.html'"></div>

<div id="canvas">
	<p class="render-indicator">rendering</p>
	<div id="display"></div>
</div>
<form action="/upload" id="comp">
	<input type="file" name="file" id="fileUpload" />
	<input type="submit" value="Render" />
</form>
<div id="log"></div>
{% end %}


{% block scripts %}
<script type="text/javascript">
var maxFilesize = {{ filesize }},
	referenceFile,
	canvas = document.getElementById('canvas'),
	display = document.getElementById('display');

function log(msg) {
	var l = document.getElementById('log');
	for(var i = 0; i < arguments.length; i++) {
		l.innerHTML += arguments[i];
	}
}

function addClass(element, cls) {
	element.setAttribute(
		'class',
		(element.getAttribute('class') || '').split(' ').concat(cls).join(' ')
	);
	return element;
}

function removeClass(element, cls) {
	element.setAttribute(
		'class', (element.getAttribute('class') || '').replace(cls, '').trim()
	);
	return element;
}

function loadImage(file, callback) {
	var reader = new FileReader();
	reader.onload = function(e) {
		callback(e.target.result);
	};
	reader.readAsDataURL(file);
	return reader;
}

function displayImage(image, view) {
	var imgs = view.getElementsByTagName('img'),
		viewer;

	// Create img tag if non-existent in view
	if(imgs.length == 0) {
		viewer = document.createElement('img');
		viewer.id = 'viewer';
		viewer.alt = 'Viewer';
		view.appendChild(viewer);
	} else {
		viewer = imgs[0];
	}

	viewer.src = image;
	return viewer;
}
</script>
{% end %}
